@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body, * {
    font-family: "Oswald", "Helvetica", sans-serif;
}

body {
	background: linear-gradient(-45deg, #711DB0, #C21292, #EF4040, #FFA732);
	animation: gradient 5s ease infinite;
    height: 100vh;
    background-size: 200% 200%;
}

@keyframes gradient {
	0%, 100% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 50% 50%;
	}
}

header, footer { 
    padding: 10px;
    margin: 10px 0;
    background-color: rgb(211,211,211, 0.25);
}

header, footer, .product, #text-side > button {
    border-radius: 10px;
}

footer, nav > ul, .slides-container, .slide-container, .product, #product-page, #text-side {
    display: flex;
}

footer, .slides-container, .slide-container, .product, #product-page {
    align-items: center;
}

footer, nav > ul, .product, #product-page {
    justify-content: space-around;
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav > ul > li > a {
    text-decoration: none;
}

nav > ul > li > a, #text-side > button {
    color: black;
}

nav > ul > li:hover, .prev, .next, .product:hover, #text-side > button:hover {
    cursor: pointer;
}

.slideshow-container {
    overflow: hidden;
}

.slide-container {
    justify-content: center;
}

.slide-container > img {
    width: 75%;
}

.hidden {
    display: none;
}

.prev, .next {
    font-size: x-large;
}

.products {
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.products, #product-side > img {
    width: 100%; 
}

.product {
    border: 2px solid black;
    font-size: 30px;
    font-weight: 700;
}

.product, #text-side {
    flex-direction: column;
}

.product:hover {
    border: 2px solid; 
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #0099FF, #00D2FF, #4BFCE1);
}

.product > img {
    max-width: 100%;
    height: 50%;
}

#product-side, #text-side {
    width: 45%;
}

#text-side {
    justify-content: space-evenly;
    align-items: first baseline;
}

#text-side > button {
    margin: 25px 25px 25px 0;
    background: linear-gradient(to left, #0099FF, #00D2FF, #4BFCE1);
    border: none;
    padding: 10px 20px 10px 20px;
}

#text-side > button:hover {
    background: linear-gradient(to right, #0099FF, #00D2FF, #4BFCE1);
}